<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanzhou.www.dao.sys.PermissionDao">
  <resultMap id="BaseResultMap" type="com.hanzhou.www.model.sys.Permission">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="ref_id" jdbcType="VARCHAR" property="refId" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="permission_name" jdbcType="VARCHAR" property="permissionName" />
    <result column="permission_url" jdbcType="VARCHAR" property="permissionUrl" />
    <result column="permission_desc" jdbcType="VARCHAR" property="permissionDesc" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="is_valid" jdbcType="BIT" property="isValid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ref_id, parent_id, level, permission_name, permission_url, permission_desc, sort, 
    is_valid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_permission
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_permission
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hanzhou.www.model.sys.Permission">
    insert into sys_permission (id, ref_id, parent_id, 
      level, permission_name, permission_url, 
      permission_desc, sort, is_valid
      )
    values (#{id,jdbcType=VARCHAR}, #{refId,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, 
      #{level,jdbcType=INTEGER}, #{permissionName,jdbcType=VARCHAR}, #{permissionUrl,jdbcType=VARCHAR}, 
      #{permissionDesc,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{isValid,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hanzhou.www.model.sys.Permission">
    insert into sys_permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="refId != null">
        ref_id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="permissionName != null">
        permission_name,
      </if>
      <if test="permissionUrl != null">
        permission_url,
      </if>
      <if test="permissionDesc != null">
        permission_desc,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="isValid != null">
        is_valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="refId != null">
        #{refId,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="permissionName != null">
        #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="permissionUrl != null">
        #{permissionUrl,jdbcType=VARCHAR},
      </if>
      <if test="permissionDesc != null">
        #{permissionDesc,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="isValid != null">
        #{isValid,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hanzhou.www.model.sys.Permission">
    update sys_permission
    <set>
      <if test="refId != null">
        ref_id = #{refId,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="permissionName != null">
        permission_name = #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="permissionUrl != null">
        permission_url = #{permissionUrl,jdbcType=VARCHAR},
      </if>
      <if test="permissionDesc != null">
        permission_desc = #{permissionDesc,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="isValid != null">
        is_valid = #{isValid,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hanzhou.www.model.sys.Permission">
    update sys_permission
    set ref_id = #{refId,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      level = #{level,jdbcType=INTEGER},
      permission_name = #{permissionName,jdbcType=VARCHAR},
      permission_url = #{permissionUrl,jdbcType=VARCHAR},
      permission_desc = #{permissionDesc,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      is_valid = #{isValid,jdbcType=BIT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="getListByRoleId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    permission.id, permission.parent_id, permission.level, permission.permission_name, permission.permission_url, permission.permission_desc, permission.sort, permission.is_valid
    from sys_permission as permission
    join sys_role_permission as rolePermission
    on permission.id = rolePermission.permission_id
    where rolePermission.role_id = #{roleId,jdbcType=VARCHAR}
  </select>
  
  <select id="getMenusByLevel" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_permission
    where level =  #{level,jdbcType=INTEGER}
    and is_valid = 1
    order by sort asc
  </select>
  
  <select id="getListByRefId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_permission
    where  ref_id = #{refId,jdbcType=VARCHAR}
    and is_valid = 1
    order by level,sort asc
  </select>	  
</mapper>